

.advanced {
    padding: 8px;
    border: 4px solid transparent;
    background: linear-gradient(#B7D3F0, #6B90EE) content-box, linear-gradient(#c769c2, #211A4D) padding-box, linear-gradient(#F1F48C, #8BE5DC) border-box;
    height: 60px;
    width: 220px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    font: 900 20px/60px system-ui, sans-serif;
}
